/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* CSS VARIABLES */

:root {
    
    --header-height: 3rem;


    /* Colors */

    /* HSL */
    --hue-color: 199;

    /* HSL COLOR MODE */

    --first-color: hsl(var(--hue-color), 65%, 36%);
    --first-color-second:hsl(var(--hue-color), 34%, 37%);
    --first-color-alt: hsl(var(--hue-color), 39%, 48%);
    --first-color-lighter:hsl(var(--hue-color), 57%, 51%);
    --title-color: hsl(var(--hue-color), 39%, 23%);
    --text-color: hsl(var(--hue-color), 39%, 30%);
    --text-color-light: hsl(var(--hue-color), 39%, 43%);
    --input-color: hsl(var(--hue-color), 70%, 61%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;

    /* Fonts */

    --body-font: 'Josefin Sans', sans-serif;

    /* Font sizes */

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */

    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margins bottom */

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem; 
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    
    /* Z-index */

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 100;

}

    /* Font size for larger devices */

    @media screen and (min-width: 968px) {
        
        :root {
            --big-font-size: 3rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }

    }

/* BASE */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}


/* REUSABLE CSS CLASSES */

.section {
    padding: 2rem 0 4rem;
}

.sectionTitle {
    font-size: var(--h1-font-size);
}

.sectionSubTitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.sectionTitle , .sectionSubTitle {
    text-align: center;
}

/* LAYOUT */

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);

}


/* NAVBAR */

.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo , .navToggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.navLogo:hover {
    color: var(--first-color);
}

.navToggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.navToggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .navMenu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.navList {
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.navLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.navLink:hover {
    color: var(--first-color);
}

.navIcon {
    font-size: 1.2rem;
}


.navClose {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.navClose:hover {
    color: var(--first-color-alt);
}

/* SHOW MENU */

.show-menu {
    bottom: 0;
}


/* HOME */

.homeContainer {
    gap: 1rem;
}

.homeContent {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.homeSocial {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.homeSocialIcon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.homeSocialIcon:hover {
    color: var(--first-color-alt);
}

.homeBlob {
    width: 200px;
    fill: var(--first-color);
}

/* Codigo que falta d eminuto 28 y minuto 33 */
.homeBlobImg {
    width: 170px;
}

.homeData {
    grid-column: 1/3;
}

.homeTitle {
    font-size: var(--big-font-size);
}

.homeSubTitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-2);
}

.homeDescription {
    margin-bottom: var(--mb-2);
}

.homeScroll {
    display: none;
}

.homeScrollButton {
    color: var(--first-color);
    transition: .3s;
}

.homeScrollButton:hover {
    transform: translateY(.25rem);
}

.homeScrollMouse {
    font-size: 2rem;
}

.homeScrollName {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.homeScrollArrow {
    font-size: 1.25rem;
}


/* BUTTONS */ 

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.buttonIcon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}


/* ABOUT */

.aboutImg {
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.aboutDescription {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.aboutInfo {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.aboutInfoTitle {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.aboutInfoName {
    font-size: var(--smaller-font-size);
}

.aboutInfoTitle , .aboutInfoName {
    display: block;
    text-align: center;
}

.aboutButtons {
    display: flex;
    justify-content: center;
}